<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join !</title>
</head>
<style>
    .message{
        color: #963b3b;
        margin-bottom: 16px;
    }
</style>
<body>
    <h1>Join my website!</h1>
    <section class="message"><%= message %></section>
    <form action="/join" method="POST">
    email : <input type="text" name="email"><br>
    password : <input type="text" name="password"><br>
    <input type="submit">
    </form>
</body>
</html>